<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pospex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <header class="box-shadow d-flex justify-content-between">
        <nav class="navbar-expand-sm navbar-toggleable-sm navbar-light pt-2 pb-2">
            <div>
                <a class="navbar-brand font-weight-bold" asp-area="" asp-controller="Users" asp-action="Index">Pospex</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
                
        </nav>
            <div class="d-flex align-items-center">
                <span class="d-block mr-3">@User.Identity.Name</span>
                @if (User.Identity.IsAuthenticated)
                {
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" value="Logout" class="btn btn-secondary"/>
                    </form>
                }

                else
                {
                    <a asp-controller="Account" asp-action="Login" class="btn btn-secondary mr-3">Login</a>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-secondary">Register</a>
                }

            </div>
        
    </header>
    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
