@model Pospex.ViewModels.AddAvatarViewModel

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        alert("@ViewBag.Message");

    </script>
}

<form method="post" asp-action="AddAvatar" asp-controller="Users" enctype="multipart/form-data">
    <label asp-for="Avatar">Загрузить новую аватарку:</label>

    <input type="file" asp-for="Avatar" id="projectImage" name="files" multiple class="form-control">
    <button>Отправить</button>
</form>