@model Pospex.ViewModels.AddAvatarViewModel

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

        alert("@ViewBag.Message");

    </script>
}
<h2 class="mt-3 mb-5">Upload new avatar</h2>
<form method="post" asp-action="AddAvatar" asp-controller="Users" enctype="multipart/form-data">
    <input type="file" asp-for="Avatar" id="projectImage" name="files" accept="image/*"><br />
    <button class="btn btn-success mt-4">Upload</button>
</form>